.css-heg063-MuiTabs-flexContainer {
    justify-content: center;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: var(--light-brown)!important;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: var(--light-brown)!important;
}

.pagination .page-link {
    background-color: #f1f1f1;
    color: var(--light-brown);
    border: 1px solid var(--light-brown);
}

.pagination .page-link:hover {
    background-color: var(--light-brown);
    color: white;
    border: 1px solid #f1f1f1;
}

.page-item:last-child .page-link {
    border-radius: 5px;
}

.pagination .page-item .page-link {
    border-radius: 50%;
    margin-right: 3px;
}