.reading-challenge {
    background-image: url('../../../assets/readingchallenge/books.svg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 15%;
    background-color: #a0a299 !important;
}

.reading-challenge button {
    transition: .5s;
}

.increase:hover {
    color: var(--dark-brown) !important;
}

.decrease:hover {
    color: var(--dark-brown)!important;
}