.p-text-area {
    resize: none;
}
.pull-right {
    background-color: var(--light-brown) !important;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.pull-right:hover {
    background-color: var(--light-brown) !important;
}