.header .carousel-indicators [data-bs-target] {
    background-color: #000 !important;
}

.header .carousel-caption {
    bottom: 30% !important;
}

@media (max-width: 576px) {
    .header .carousel-caption {
        bottom: 11% !important;
        left: 4%;
    }
    .header .carousel-caption .center {
        position: absolute;
        right: 0 !important;
    }
    .header .carousel-control-next div {
        display: none;
    }
    .header .carousel-control-prev div {
        display: none;
    }
}

@media (min-width: 576px) {
    .card-body .header__logo {
        width: 75% !important;
    }
    .header h1 {
        font-size: 2rem;
    }
    .header input::placeholder {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .header h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .header h1 {
        font-size: 3.6rem;
    }
}