.storeShop {
    background-color: var(--bgColor);
}

.storeShop__content h2 {
    font-size: 4.5rem;
    font-family: var(--fontTitle);
    color: var(--redColor);
}

.store_btn {
    border: 1px solid #707070;
    border-radius: 0.62rem;
    padding: 2px 15px 2px 2.7px;
}

@media (max-width: 576px) {
    .storeShop__content h2 {
        font-size: 3rem;
        width: 100% !important;
    }
    .store_btn {
        width: 85%;
    }
    .storeShop__content .logo {
        width: 50%;
        margin-left: 10px !important;
    }
}

@media (min-width: 576px) {
    .storeShop__content h2 {
        width: 85% !important;
        font-size: 4rem !important;
    }
    .store_btn {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .storeShop {
        text-align: center;
    }
    .storeShop__content h2 {
        font-size: 4rem !important;
        width: 100% !important;
    }
    .store_btn {
        width: 100%;
    }
    .storeShop__img {
        width: 75%;
        margin-top: 1rem;
    }
}