.storeShop {
    background-color: var(--bgColor);
}

.storeShop__content h2 {
    font-size: 3rem;
    font-family: var(--fontTitle);
    color: var(--redColor);
}

.store_btn {
    border: 1px solid #707070;
    border-radius: 0.62rem;
    padding: 2px 15px 2px 2.7px;
}

.store_btn p {
    font-size: 14px;
}

@media (max-width: 576px) {
    .storeShop__img {
        display: none;
    }
}

@media (min-width: 768px) {
    .store_btn {
        width: 75%;
    }
}

@media (min-width:1200px) {
    .store_btn {
        width: 100%;
    }
}
