.new_post_item_card {
    border: 2px solid var(--secondary-bg) !important;
    
    
}
.new_post_item_card p {
    color: black !important;
}
.post-icon {
    transition: .3s;
}
.post-icon:hover {
    color:var(--light-brown) !important;
    cursor: pointer !important;
}
.filled {
    color: var(--light-brown) !important;
}
.comment_card {
    background-color: rgba(0, 0, 0, 0.02);
}
