.sign_up {
    /* background-image: url("../../../assets/forms_assests/SignupBackground.jpg");
    background-position: center center;
    background-size: cover; */
    min-height:100%;
    background:linear-gradient(0deg, var(--light-brown), #9f443159), url("../../../assets/forms_assests/SignupBackground.jpg");
    background-size:cover;
    
}

.sign_up .overlay {
    background-color: rgba(0, 0, 0, .6);
}

.polices span {
    transition: .5s;
}

.polices span:hover {
    color: var(--light-brown) !important;
}