.sign_up {
    background-image: url(../../../forms_assests/Signup\ Background.jpg);
    background-position: center center;
    background-size: cover;

}

.sign_up .overlay {
    background-color: rgba(0, 0, 0, .6);
}

.polices span {
    transition: .5s;
}

.polices span:hover {
    color: var(--hot-pink) !important;
}