

.card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer ; 
    font-family: 'Bebas Neue', cursive;
    background-image: url('../../assets/UserProfile/books.svg');
    background-position: bottom right;
    background-size: 15%;
    background-repeat: no-repeat;
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #26A3A6;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #D1314F;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:hover::after {
    transform: scaleY(1)
}

.fonts {
    font-size: 11px
}

.contact_info h5 {
    color: #26A3A6;
}
.contact_info h5 span {
    color: #D1314F;
}
p {
    color: #D1314F;
}