.slider img {
    position: relative;
    text-align: center;
    width: 50%;
    margin-bottom: 5rem !important;
}

.slick-next:before,
.slick-prev:before {
    color: gray !important;
    font-size: 50px !important;
    /* position: fixed; */
}

.center .slick-center img {
    color: #e67e22;
    opacity: 1;
    -ms-transform: scale(1.9, 1.5);
    transform: scale(1.2, 1.5);
}

.center img {
    transition: all .3s ease;
}