.Footerroboto{
    font-family: 'Roboto', sans-serif;
    color: #d3d3d3;
    font-weight: 700;
}
.textt{
    color: #d1314f;
    font-weight: bold;
}
.footerelements{
    color:  #9b9b9b;
    font-size: 100;
    display: block;
}
.formargin{
    margin-left:50% ;
}

.booksimg{
    overflow: hidden;
}
.grad {
    background-image: linear-gradient(to right,white, #d3d3d3,#9DCEFF,#26a3a6,#26A3A6);
  }
.logo{
    width: 3%;
    margin-right: 2%;
}
.profilephoto{
    width: 70%;
    border-radius: 50%;
}
